/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */


.heroBanner {
  text-align: center;
  background-color: var(--ifm-background-color);
  background-size: cover;
  background-repeat: no-repeat;
}

.heroBanner p {
  font-family: 'Aldrich', sans-serif;
  color: var(--ifm-font-color-base);
  font-weight: 700;
  line-height: 1.2;
  font-size: 1.902em;
}



.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
